P {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A {
	COLOR: #026802;
}
A:hover {
	COLOR: red; TEXT-DECORATION: none
}
A:active {
	COLOR: red; TEXT-DECORATION: none
}
.whitelink {
	COLOR: #ffffff
}
.whitelink:link {
	COLOR: #ffffff
}
.whitelink:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.whitelink:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.whitelink:visited {
	COLOR: #ffffff
}
